<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CarNex - Profile</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Link to the CSS files. -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/star-rating.min.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default" id="top-nav" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a href="index.html" class="navbar-brand">CarNex</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav" id="nav-main">
            <li><a href="about.html">About Us</a></li>
            <li class="active"><a href="howitworks.html">How it Works</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" id="popover-container">
            <li>
              <form class="form-inline" role="form" action="/logout" method="get"> 
                <input type= "hidden", name= "_csrf", value= <%= token %>>
                <button type="submit" class="btn btn-primary navbar-btn">Log Out</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <nav class="navbar navbar-default hidden-xs" id="sub-nav" role="navigation">
      <div class="container">
        <div class="navbar-collapse">
          <ul class="nav navbar-nav nav-right" id="subnav-how">
            <li><a href="start.html">Getting Started</a></li>
            <li><a href="safety.html">Safety</a></li>
            <li><a href="faq.html">Frequently Asked Questions</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="profile-header">
      <div class="row">
        <div class= "col-sm-12" >
     
     
	 <% user.forEach(function(item) { %>
          <h2><%=item.username %></h2>
          <p>
            <form role="form" action="/rating" method="post">
              <input type= "hidden", name= "_csrf", value= <%= token %>>
              <input id="input-21f"  name = "rating" value="0" type="number" class="rating" min=0 max=5 step=0.5 data-size= "sm" >
              <input name = "username" type="hidden" class="form-control" id="username" value = <%= user[0].username %>>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-default">Reset</button>
              </div>
            </form>
          </p>
          <p><strong>Email</strong>: <%= item.email %></p>
          <p><strong>Phone</strong>:  <%= item.phone %></p>
          <p><strong>Usually commutes from around</strong>: <%= item.city %></p>
        </div>

        <div class="col-sm-4 col-sm-offset-4">
              <div class="input-group">      
                    <input id="sLoc-address" type="hidden" class="form-control" />
                    <div id="sLoc" class = "map_screen" style=" height: 200px;"></div>
                    <input type="hidden" id="sLoc-radius"/>
                    <input type="hidden" id="sLoc-lat"/>
                    <input type="hidden" id="sLoc-lon"/>
              </div>
        </div>
        
      </div>
        <button class="btn btn-danger" title="Report">
          <span class="glyphicon glyphicon-ban-circle"></span>
          <span class="hidden-xxs">Report</span>
        </button>
        <form class="form-inline" role="form" action="/postsearch" method="post">
             <input type= "hidden", name= "_csrf", value= <%= token %>>
             <button type="submit" class="btn btn-info" >
             <span class="glyphicon glyphicon-circle-arrow-left"></span>
             <span class="hidden-xxs">back to dashboard</span>
             </button>
        </form>

      </div>
    </div>

    <div class="container main-profile">
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Submit Feedback</h3>
            </div>

            <div class="panel-body">
		
             
              <form role="form" action="/comment" method="post">
                 <input type= "hidden", name= "_csrf", value= <%= token %>>
                    <div class="input-group">
                      <label for="name" class="input-group-addon control-label">Name</label>
                      <input name = "name" type="text" value ="" class="form-control" id="name" placeholder="Name">
                    </div>
		<input name = "username" type="hidden" value = <%= item.username %> class="form-control" id="username" >
                    <div class="input-group">
                      <label for="comment" class="input-group-addon control-label">Comment</label>
                     <textarea id="comment" name = "comment" value = "" class="form-control" rows="3"  required></textarea>
                    </div>
                  <button type="submit" class="btn btn-primary">Submit &raquo;</button>
              </form>


	<% });%>

            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-primary settings-panel-heading">
            <div class="panel-heading">
			<a href="#collapsePersonal1" data-toggle="collapse" class="pull-right"></a>
              <h3 class="panel-title">Recent Feedback</h3>
            </div>
	<div id="collapsePersonal1" class="panel-collapse collapse in"> 
             <div class="panel-body">
            <% user.forEach(function(item) { %>
            <% for(var i=0; i<item.comments.length; i++) { %>         
           
              <div class="review">
                <h3><%=item.comments[i].commenter %></h3>
                <span>
                </span>
                <p><%=item.comments[i].comment %> </p>
              </div>              
           
            <% }});%>
	      </div>
	     </div>
          </div>
        </div>
      </div>
    </div>

    <!-- This makes the pooter page of this web page. -->
    <footer>
      <div class="row visible-xs">
        <div class="col-xs-6">
          <ul class="footer-nav">
            <li class="nav-title"><a href="about.html">About Us</a></li>
            <li><a href="about.html#mission">Our Mission</a></li>
            <li><a href="about.html#bio">Founders</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>

        <div class="col-xs-6">
          <ul class="footer-nav">
            <li class="nav-title"><a href="howitworks.html">How it Works</a></li>
            <li><a href="start.html">Getting Started</a></li>
            <li><a href="safety.html">Safety</a></li>
            <li><a href="faq.html">Frequently Asked Questions</a></li>
          </ul>
        </div>
      </div>

      <p class="pull-right"><a href="#">Back to Top <span class="glyphicon glyphicon-arrow-up"></span></a></p>
      <p>Copyright &copy; 2014 CarNex, Inc.</p>
    </footer>

    <!-- Link to the javaScripts and jquery files. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/login.js"></script>
    <script src="js/star-rating.min.js"></script>
    <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
    <script src="js/jquery-locationpicker/locationpicker.jquery.js"></script>
    <script>
        jQuery(document).ready(function () {
          $(".rating-kv").rating();
        });
    </script>

    <script>
    $('#sLoc').locationpicker({
        location: {latitude:  <%= lat %> , longitude: <%= lon %> },   
        radius: 3000,
        zoom: 10,
        scrollwheel: true,
        inputBinding: {
            latitudeInput: $('#sLoc-lat'),
            longitudeInput: $('#sLoc-lon'),
            radiusInput: $('#sLoc-radius'),
            locationNameInput: $('#sLoc-address')
        },
       
        enableAutocomplete: true,
        
      });
    </script>
  </body>
</html>








